.message-text-contain-me span.fr-emoticon.fr-emoticon-img {
    background-repeat: no-repeat !important;
    font-size: inherit;
    height: 1em;
    width: 1em;
    min-height: 25px !important;
    min-width: 25px !important;
    display: inline-block;
    /*margin: -0.1em 0.1em 0.1em;*/
    /*line-height: 1;*/
    /*padding-top: 12px;*/
    padding: 0px 5px;
    vertical-align: middle;
}
.message-text-contain-friends span.fr-emoticon.fr-emoticon-img {
    background-repeat: no-repeat !important;
    font-size: inherit;
    height: 1em;
    width: 1em;
    min-height: 25px !important;
    min-width: 25px !important;
    display: inline-block;
    /*margin: -0.1em 0.1em 0.1em;*/
    /*line-height: 1;*/
    /*padding-top: 12px;*/
    padding: 0px 5px;
    vertical-align: middle;
}
.fr-view span.fr-emoticon.fr-emoticon-img {
    background-repeat: no-repeat !important;
    font-size: inherit;
    height: 1em !important;
    width: 1em;
    min-height: 30px !important;
    min-width: 30px !important;
    display: inline-block;
    margin: -0.1em 0.1em 0.1em;
    line-height: 1;
    vertical-align: middle;
}

.fr-popup{
    max-height: 150px !important;
    overflow-y: auto;
}
